# ======================================================================
# PLATFORM OVERRIDE SECTION
# ======================================================================

# HOST = 
# MPIRUN = 
# PHYS_BIN_ROOT =  
# DATA_TREE_ROOT =
# PORTAL_URL = 
# RUNID_URL  = 

# ======================================================================
# USER DATA SECTION
# ======================================================================

USER_W3_DIR = $PWD/www
USER_W3_BASEURL = 

# ======================================================================
# SIMULATION INFO SECTION
# ======================================================================

RUN_ID = myRun
RUN_COMMENT = Excellent work 
TOKAMAK_ID = ITER
SHOT_NUMBER = 12345

SIM_NAME = thisSim

OUTPUT_PREFIX = 
LOG_FILE = log.warning
LOG_LEVEL = INFO # DEBUG | INFO | WARN | ERROR | CRITICAL 

SIM_ROOT = $PWD
SIM_INPUT_DIR=  

SIMULATION_MODE = NORMAL # NORMAL or RESTART
RESTART_TIME = LATEST # Float or LATEST
RESTART_ROOT = $SIM_ROOT

# ======================================================================
# STATE SECTION
# ======================================================================

# Where to put plasma state files as the simulation evolves
STATE_WORK_DIR = 
ARCHIVE_STATE_ON_OUTPUT = FALSE

# Config variables defining simulation specific names for plasma state files

# List of files that constitute the plasma state
STATE_FILES = 

# ======================================================================
# PORTS SECTION
# ======================================================================

[PORTS]

    # The order here is the order in which they are run.

    NAMES = DRIVER WORKER 

    # Required ports - DRIVER and INIT   

    [[DRIVER]]
        IMPLEMENTATION = gitr_driver

    [[WORKER]]
        IMPLEMENTATION = gitr_worker

# ======================================================================
# COMPONENT CONFIGURATION SECTION
# ======================================================================

[gitr_driver]
    CLASS = driver
    SUB_CLASS = 
    NAME = gitr_driver 
    NPROC = 1
    BIN_PATH = $IPS_WRAPPERS_PATH
    INPUT_DIR = 
    INPUT_FILES = 
    OUTPUT_FILES =  
    SCRIPT = $IPS_WRAPPERS_PATH/drivers/gitr_driver.py

[gitr_worker]
    CLASS = workers 
    SUB_CLASS = 
    NAME = gitr_worker 
    NPROC = 1
    THREADS_PER_TASK=1
    TASK_PPN=1
    BIN_PATH = $IPS_WRAPPERS_PATH
    INPUT_DIR = 
    INPUT_FILES = 
    OUTPUT_FILES =  
    SCRIPT = $IPS_WRAPPERS_PATH/ips-gitr/gitr_worker.py
    GITR_EXE = $GITR_PATH/build/GITR
    GITR_INPUT_DIR=$GITR_PATH/examples/impacts_D_W_davis
    NT = 200000
    NP = 20000


# =============================================================================
# TIMELOOP SECTION
# =============================================================================

[TIME_LOOP]
    MODE = REGULAR
    START = 0 #$RESTART_TIME # Float or $RESTART_TIME 
    FINISH = 1 #$RESTART_TIME + 18.0 # 3.5 # Float or $RESTART_TIME + float 
    NSTEP = 1 

# =============================================================================
# CHECKPOINT SECTION
# =============================================================================

[CHECKPOINT]
   MODE = ALL
   PHYSTIME_INTERVAL = 0.5 
   NUM_CHECKPOINT = -1 
   PROTECT_FREQUENCY = 5  


