# ======================================================================
# PLATFORM OVERRIDE SECTION
# ======================================================================

# HOST = 
# MPIRUN = 
# PHYS_BIN_ROOT =  
# DATA_TREE_ROOT =
# PORTAL_URL = 
# RUNID_URL  = 

# ======================================================================
# USER DATA SECTION
# ======================================================================

USER_W3_DIR = $PWD/www
USER_W3_BASEURL = 

# ======================================================================
# SIMULATION INFO SECTION
# ======================================================================

RUN_ID = myRun
RUN_COMMENT = Excellent work 
TOKAMAK_ID = ITER
SHOT_NUMBER = 12345

SIM_NAME = thisSim

OUTPUT_PREFIX = 
LOG_FILE = log.warning
LOG_LEVEL = INFO # DEBUG | INFO | WARN | ERROR | CRITICAL 

SIM_ROOT = $PWD
SIM_INPUT_DIR=  

SIMULATION_MODE = NORMAL # NORMAL or RESTART
RESTART_TIME = LATEST # Float or LATEST
RESTART_ROOT = $SIM_ROOT

# ======================================================================
# STATE SECTION
# ======================================================================

HPIC2_OUTPUT_FILE_TAG = boltzmann_electrons_example_out/boltzmann_electrons_example_

# Where to put plasma state files as the simulation evolves
STATE_WORK_DIR = 
ARCHIVE_STATE_ON_OUTPUT = FALSE

# Config variables defining simulation specific names for plasma state files

# List of files that constitute the plasma state
STATE_FILES = boltzmann_electrons.toml 

# ======================================================================
# PORTS SECTION
# ======================================================================

[PORTS]

    # The order here is the order in which they are run.

    NAMES = DRIVER WORKER 

    # Required ports - DRIVER and INIT   

    [[DRIVER]]
        IMPLEMENTATION = hpic2_driver 

    [[WORKER]]
        IMPLEMENTATION = hpic2

# ======================================================================
# COMPONENT CONFIGURATION SECTION
# ======================================================================

[hpic2_driver]
    CLASS = driver
    SUB_CLASS = 
    NAME = hpic2_driver 
    NPROC = 1
    BIN_PATH = $IPS_WRAPPER_PATH
    INPUT_DIR = $IPS_WRAPPER_PATH/ips-hpic2
    INPUT_FILES = boltzmann_electrons.toml 
    OUTPUT_FILES = 
    SCRIPT = $IPS_WRAPPER_PATH/ips-hpic2/source/hpic2_driver.py

[hpic2]
    CLASS = workers 
    SUB_CLASS = 
    NAME = hpic2_worker
    NPROC = 1
    BIN_PATH = $IPS_WRAPPER_PATH
    INPUT_DIR = 
    INPUT_FILES = 
    OUTPUT_FILES = ${HPIC2_OUTPUT_FILE_TAG}fields.hdf ${HPIC2_OUTPUT_FILE_TAG}moments.hdf
    SCRIPT = $IPS_WRAPPER_PATH/ips-hpic2/source/hpic2_worker.py
    EXECUTABLE = mpiexec -np 1 /home/josh/hpic2_dev/omp_opt_build/hpic2 -i

# =============================================================================
# TIMELOOP SECTION
# =============================================================================

[TIME_LOOP]
    MODE = REGULAR
    START = 0 #$RESTART_TIME # Float or $RESTART_TIME 
    FINISH = 1 #$RESTART_TIME + 18.0 # 3.5 # Float or $RESTART_TIME + float 
    NSTEP = 1

# =============================================================================
# CHECKPOINT SECTION
# =============================================================================

[CHECKPOINT]
   MODE = ALL
   PHYSTIME_INTERVAL = 0.5 
   NUM_CHECKPOINT = -1 
   PROTECT_FREQUENCY = 5  


