# ======================================================================
# TEMPLATE FOR SOLPS-ITER 

# ======================================================================
# SIMULATION INFO SECTION
# ======================================================================

RUN_ID = solps
TOKAMAK_ID = D3D
SHOT_NUMBER = 185266
TIME_ID = 03600

SIM_NAME = ${RUN_ID}_${SHOT_NUMBER}

OUTPUT_PREFIX = 
LOG_FILE = run.log
LOG_LEVEL = DEBUG

INPUT_DIR_SIM = ${PWD}/input_solps
SIM_ROOT = ${PWD}/00001

RUN_COMMENT = d3d solps-iter analysis
TAG = 

SIMULATION_MODE = NORMAL
RESTART_TIME =
RESTART_ROOT = $SIM_ROOT

# ======================================================================
# PLASMA STATE SECTION
# ======================================================================

STATE_WORK_DIR = $SIM_ROOT/work/plasma_state

CURRENT_STATE = b2fstate
CURRENT_GMTRY = b2fgmtry
CURRENT_RATES = b2frates
CURRENT_PARDF = b2fpardf

STATE_FILES = $CURRENT_STATE $CURRENT_GMTRY $CURRENT_RATES $CURRENT_PARDF fort.44 solps.log 
FTX_COUPLING_FILES = fort.44 b2fgmtry b2fstate 

# ======================================================================
# PORTS SECTION
# ======================================================================

[PORTS]

    NAMES = INIT DRIVER SOLVER MONITOR  

    # Required ports - DRIVER and INIT   

    [[DRIVER]]
        IMPLEMENTATION = solps_driver

    [[INIT]]
        IMPLEMENTATION = solps_init
      
    # Physics ports

    [[SOLVER]]
        IMPLEMENTATION = solps_solver

    [[NEUTRAL]]
        IMPLEMENTATION = solps_eirene 

    # Monitor ports
   
    [[MONITOR]]
        IMPLEMENTATION = solps_b2plot

# ======================================================================
# COMPONENT CONFIGURATION SECTION
# ======================================================================

[solps_init]
    CLASS = solps 
    SUB_CLASS = 
    NAME = solps_init
    NPROC = 1
    BIN_PATH = ${SOLPS_BIN_DIR}
    INIT_METHOD = init  
    GRIDFILE = psielm_185266_v0.v001.geo
    RESTART_STATE = b2fstate 
    INPUT_DIR = ${INPUT_DIR_SIM}
    INPUT_FILES = b2ag.dat b2ar.dat b2ah.dat b2ai.dat input.dat ${GRIDFILE} ${RESTART_STATE} fort.44 solps.log 
    OUTPUT_FILES = 
    RESTART_FILES =
    SCRIPT = 
    MODULE = solps_iter.solps_init

[solps_driver]
    CLASS = solps
    SUB_CLASS = 
    NAME = solps_driver
    NPROC = 1
    BIN_PATH = 
    INPUT_DIR = ${INPUT_DIR_SIM}
    INPUT_FILES = fort.44 b2fstate input.dat
    OUTPUT_FILES = ${FTX_COUPLING_FILES} solps.log input.dat
    RESTART_FILES = 
    SCRIPT = 
    MODULE = solps_iter.solps_driver 
    STATE_FILES_ADD = ${FTX_COUPLING_FILES} 

[solps_solver]
    CLASS = solps
    SUB_CLASS = 
    NAME = solps_solver
    NPROC = 128 #perlmutter: 128 ; cori: 32
    BIN_PATH = ${SOLPS_BIN_DIR}
    BIN = b2mn.exe 
    METHOD = solver
    EIRENE = 1 # 1
    INPUT_DIR = ${INPUT_DIR_SIM}
    PARAMETER_FILES = b2.boundary.parameters b2.neutrals.parameters b2.numerics.parameters b2.transport.parameters b2.transport.inputfile b2.transport.inputfile.elm param.dg
    EIRENE_FILES = input.dat fort.33 fort.34 fort.35
    B2MNDAT = b2mn.dat
    EPED_STATE_INPUT = # e156855.00003
    INPUT_FILES = ${B2MNDAT} ${PARAMETER_FILES} ${EIRENE_FILES} ${EPED_STATE_INPUT} fort.44 b2fstate
    OUTPUT_FILES = b2time.nc b2tallies.nc b2ftrace fort.31 ${FTX_COUPLING_FILES}
    RESTART_FILES = 
    CLEAN_AFTER = 0 
    SCRIPT = 
    MODULE = solps_iter.solps_solver
    STATE_FILES_ADD = b2ftrace b2ftrack b2fplasma b2fparam b2mn.dat b2.boundary.parameters param.dg ${FTX_COUPLING_FILES} solps.log #test without input.dat

[solps_eirene]
    CLASS = solps
    SUB_CLASS = 
    NAME = solps_eirene
    NPROC = 1 
    BIN_PATH = ${SOLPS_BIN_DIR}
    BIN = eirobjx
    INPUT_DIR = ${INPUT_DIR_SIM}
    INPUTDAT = input.dat
    INPUT_FILES = $INPUTDAT fort.33 fort.34 fort.35 fort.31
    OUTPUT_FILES = fort.44 
    RESTART_FILES = 
    PLASMA_STATE_FILES = fort.30
    SCRIPT = 
    MODULE = solps_iter.solps_eirene

[solps_b2plot]
    CLASS = solps
    SUB_CLASS = 
    NAME = solps_b2plot
    NPROC = 1
    BIN_PATH = ${SOLPS_BIN_DIR}
    BIN = b2pl.exe 
    INPUT_DIR = ${INPUT_DIR_SIM}
    CMD = 1100 wlld
    PLOT = 
    DATA = 
    INPUT_FILES = 
    OUTPUT_FILES = fp_*.dat ld_*.dat peak_power* 
    RESTART_FILES = 
    SCRIPT = 
    MODULE = solps_iter.solps_b2plot
    STATE_FILES = b2fstate b2fgmtry b2frates b2fpardf b2ftrack b2fplasma b2fparam b2mn.dat b2.boundary.parameters param.dg

[solps_monitor]
    CLASS = solps
    SUB_CLASS =
    NAME = solps_monitor
    NPROC = 1
    BIN_PATH = 
    BIN = 
    INPUT_DIR = 
    INPUT_FILES = 
    OUTPUT_FILES = 
    RESTART_FILES = 
    SCRIPT = 
    MODULE = solps_iter.solps_monitor

# =============================================================================
# ITERATION LOOP SECTION
# =============================================================================

[ITERATION_LOOP]
    MODE = REGULAR
    NSTEP = 1  
